<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardMapper">
	
	<select id="selectBoardList" parameterType="Map" resultType="Map">
	  SELECT (SELECT count(*) FROM TBL_BOARD) AS "totalNum"
	       , y.RNUM AS "rnum"
	       , y.BSEQ AS "bseq"
           , y.TITLE AS "title"
           , y.CONTENT AS "content"
           , y.DISP_YN AS "disp_yn"
           , y.REG_ID AS "reg_id"
           , y.REG_DATE AS "reg_date"
           , y.MOD_ID AS "mod_id"
           , y.MOD_DATE AS "mod_date"
        FROM (
          SELECT z.*
               , ROWNUM AS RNUM
            FROM (
              SELECT BSEQ 
                   , TITLE 
                   , CONTENT 
                   , DISP_YN
                   , DEL_YN
                   , (SELECT t2.LOGIN_ID 
                        FROM TBL_MEMBER t2
                       WHERE t2.CUST_ID = t1.REG_ID) AS REG_ID
                   , TO_CHAR(REG_DATE,'YYYY-MM-DD hh24:mi') AS REG_DATE
                   , MOD_ID 
                   , TO_CHAR(MOD_DATE,'YYYY-MM-DD hh24:mi') AS MOD_DATE
                FROM TBL_BOARD t1
               ORDER BY BSEQ DESC
                 ) z
            WHERE ROWNUM <![CDATA[<=]]> #{end_num, jdbcType=VARCHAR}
              ) y
        WHERE y.RNUM >= #{start_num, jdbcType=VARCHAR}
	</select>
	
	<!-- <select id="selectBoardList" parameterType="Map" resultType="Map">
      SELECT aaa
           , 
        FROM TBL_TEST
    </select> -->
	
	<insert id="write" parameterType="Map">
	  INSERT INTO TBL_BOARD(
	         BSEQ
           , TITLE
           , CONTENT
           , DISP_YN
           , DEL_YN
           , REG_ID
           , REG_DATE
           , MOD_ID
           , MOD_DATE
      ) VALUES (
             TBL_BOARD_SEQ.NEXTVAL
           , #{title, jdbcType=VARCHAR}
           , #{content, jdbcType=VARCHAR}
           , 'Y'
           , 'N'
           , #{cust_id, jdbcType=VARCHAR}
           , SYSDATE
           , #{cust_id, jdbcType=VARCHAR}
           , SYSDATE
      ) 
	</insert>
	
	<!-- 게시판 상세 -->
	<select id="getBoardDetail" parameterType="Map" resultType="Map">
      SELECT BSEQ AS "bseq"
           , TITLE AS "title"
           , CONTENT AS "content"
           , DISP_YN AS "disp_yn"
           , DEL_YN AS "del_yn"
           , REG_ID AS "reg_id"
           , REG_DATE AS "reg_date"
           , MOD_ID AS "mod_id"
           , MOD_DATE AS "mod_date"
        FROM TBL_BOARD
       WHERE BSEQ = #{bseq, jdbcType=VARCHAR}
    </select>
	
	<!-- 게시판 수정 -->
	<update id="update" parameterType="Map">
      UPDATE TBL_BOARD
         SET TITLE = #{title, jdbcType=VARCHAR}
           , CONTENT = #{content, jdbcType=VARCHAR}
           , MOD_ID = #{cust_id, jdbcType=VARCHAR}
           , MOD_DATE = SYSDATE
       WHERE BSEQ = #{bseq, jdbcType=VARCHAR}
    </update>
	
	<!-- 댓글 작성 -->
	<insert id="insertComment" parameterType="front.dto.CommentDto">
	  INSERT INTO BBS_COMMENT(
	      CSEQ
	    , BSEQ
	    , CGRP
	    , CDEPTH
	    , CONTENT
	    , WRITER
	    , REG_DATE
	    , MOD_DATE
	  ) VALUES (
	      BBS_COMMENT_SEQ.NEXTVAL
	    , #{bseq, jdbcType=VARCHAR}
	    , #{cgrp, jdbcType=VARCHAR}
	    , #{cdepth, jdbcType=VARCHAR}
	    , #{content, jdbcType=VARCHAR}
	    , #{writer, jdbcType=VARCHAR}
	    , sysdate
	    , sysdate
      )
	</insert>
	
	<!-- 댓글 리스트 조회 -->
	<select id="selectCommentList" parameterType="front.dto.CommentDto" resultType="Map">
		SELECT cseq
             , bseq
             , cgrp
             , cdepth
             , content
             , writer
             , reg_date
             , mod_date
          FROM bbs_comment
         WHERE bseq = #{bseq, jdbcType=VARCHAR}
         START WITH cdepth = 0
       CONNECT BY PRIOR cseq = cgrp
         ORDER SIBLINGS BY reg_date
	</select>
	
	
</mapper>